[alias]
  s = status
  co = commit
  lol = log --graph --decorate --pretty=oneline --abbrev-commit
  lola = log --graph --decorate --pretty=oneline --abbrev-commit --all
  housekeep = !git-housekeep.sh
  rco = !git-rubocop-commit.sh
[color]
  branch = auto
  diff = auto
  interactive = auto
  status = auto
[push]
  default = simple
[pull]
  ff = only
[core]
  editor = vim
[remote "origin"]
  prune = true
[merge]
  defaultToUpstream = true
