[alias]
  s = status -sb
  lol = log --graph --decorate --pretty=oneline --abbrev-commit
  lola = log --graph --decorate --pretty=oneline --abbrev-commit --all
  housekeep = "!f(){\
                git remote prune origin; \
                git branch -vv \
                | grep 'origin/.*: gone]' \
                | awk '{print $1}' \
                | xargs git branch -D;\
              }; f"
[color]
  branch = auto
  diff = auto
  interactive = auto
  status = auto
[push]
  default = simple
[pull]
  ff = only
[core]
  editor = hx
  excludesfile = ~/.gitignore_global
  pager = less -F -X
[remote "origin"]
  prune = true
[merge]
  defaultToUpstream = true
[commit]
  gpgsign = true
[init]
  defaultBranch = main
[user]
  email = maltoe@posteo.de
  name = Malte Rohde
  signingkey = 386939C6AC0EA111
[includeIf "gitdir:~/work/marko/"]
  path = ~/work/marko/gitconfig
